@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}



@layer components {
  .animate-card-remove {
    @apply transition duration-300 ease-in-out transform;
    transform: translateX(100%); /* Adjust displacement for desired slip effect */
  }
}